@page
@model FORECAST.Pages.NoPermisoModel
@{
    ViewData["Title"] = "No tienes acceso";
}
<div class="middle-box text-center animated fadeInDown">

    <iframe src="~/js/sinPermiso.html" width="490" height="500" style="margin-left: 0%; margin-top: 50px; margin-right: 0%;" frameborder="0"></iframe>

</div>