@page "{id}"
@model MotoRepuestosRojas.Pages.Cajas.UsuariosCajasModel
@{
    ViewData["Title"] = "Asignar Bodegas";
}


@section styles {


}
@section scripts {

    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $('.mi-selector').select2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });

            RellenaDatosAsignados();

        });

        var ProdCadena = [];
        var ProdCadenaM = [];

        function InsertarProductoTablaMia(i) {
            var detalle =
            {
                id: ProdCadena[i].id,
                nombre: ProdCadena[i].nombre
            }
            ProdCadenaM.push(detalle);

            ProdCadena.splice(i, 1);
            RellenaTablaM();
            RellenaTablaG();

        }

        function InsertarProductoTablaG(i) {
            var detalle =
            {
                id: ProdCadenaM[i].id,
                nombre: ProdCadenaM[i].nombre
            }
            ProdCadena.push(detalle);

            ProdCadenaM.splice(i, 1);
            RellenaTablaM();
            RellenaTablaG();

        }

        function RellenaDatosAsignados() {



            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '@Url.Page("UsuariosCajas", "Cajas")', //Nombre del metodo
                data: { id: $("#idCaja").val() },
                success: function (result) {

                    console.log(result);



                    for (var i = 0; i < result.usuariosGenerales.length; i++) {
                        var detalle = {
                            id: result.usuariosGenerales[i].id,
                            nombre: result.usuariosGenerales[i].nombre,

                        };
                        ProdCadena.push(detalle);

                    }

                    for (var i = 0; i < result.usuariosMiosS.length; i++) {
                        if (result.usuariosMiosS[i].nombre != null) {

                            var detalle = {
                                id: result.usuariosMiosS[i].id,
                                nombre: result.usuariosMiosS[i].nombre,

                            };
                            ProdCadenaM.push(detalle);
                        }

                    }
                    RellenaTablaG();
                    RellenaTablaM();


                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        }

        function RellenaTablaG() {
            try {
                var sOptions = '';

                $("#tbody1").html('');

                for (var i = 0; i < ProdCadena.length; i++) {
                    sOptions += '<tr>'
                    sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadena[i].id + '</p></td>';
                    sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadena[i].nombre + '</p></td>';

                    sOptions += '<td align="center" style="padding-top:15px;"><a  onclick="javascript: InsertarProductoTablaMia(' + i + ')" title="Pasar Modulo" class="fa fa-mail-forward icono"></a> ';



                    sOptions += '</tr>'
                }
                $("#tbody1").html(sOptions);
            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }


        function RellenaTablaM() {
            try {
                var sOptions = '';

                $("#tbody2").html('');

                for (var i = 0; i < ProdCadenaM.length; i++) {
                    sOptions += '<tr>'
                    sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadenaM[i].id + '</p></td>';
                    sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadenaM[i].nombre + '</p></td>';

                    sOptions += '<td align="center" style="padding-top:15px;"><a  onclick="javascript: InsertarProductoTablaG(' + i + ')" title="Pasar Modulo" class="fa fa-mail-reply icono"></a> ';



                    sOptions += '</tr>'
                }
                $("#tbody2").html(sOptions);
            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }

        function Generar() {
            try {
                var idCaja = $("#idCaja").val();

                for (var i = 0; i < ProdCadenaM.length; i++) {
                    ProdCadenaM[i].nombre = ProdCadenaM[i].nombre.replace(" ", "_");
                }
                var usuBod =
                {
                    ProdCadenaM
                };
                var usuarios = JSON.stringify(usuBod);


                var enviar = {
                    idCaja,
                    usuarios
                };
                var str = JSON.stringify(enviar).toString();
                str = str.replace(" ", "_");
                console.log(str);


                $.ajax({
                    type: 'POST',

                    url: '@Url.Page("UsuariosCajas", "Generar")',
                    dataType: 'text',
                    data: { recibidos: str },
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (json) {

                        $("#divProcesando").hide();

                        if ($('.modal-backdrop').is(':visible')) {

                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').hide();
                        }
                        console.log("resultado " + json);
                        if (json == "true") {
                            Swal.fire({
                                title: "Ha sido guardado con éxito",

                                icon: 'success',
                                showCancelButton: false,

                                confirmButtonText: 'OK',
                                customClass: {
                                    confirmButton: 'swalBtnColor',

                                },
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.reload();
                                }
                            })

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Ha ocurrido un error al intentar guardar'

                            })
                        }
                    },

                    beforeSend: function (xhr) {

                        $("#divProcesando").modal("show");
                    },
                    complete: function () {

                    },
                    error: function (error) {

                    }
                });

            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }


        function PasarTodasDerecha() {
            try {
                var tam = ProdCadenaM.length;
                var tam2 = ProdCadena.length;


                for (var i = 0; i < ProdCadena.length; i++) {

                    var detalle =
                    {
                        id: ProdCadena[i].id,
                        nombre: ProdCadena[i].nombre
                    }
                    ProdCadenaM.push(detalle);
                }

                ProdCadena = [];


                RellenaTablaM();
                RellenaTablaG();
            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }


        function PasarTodasIzquierda() {
            try {
                var tam = ProdCadena.length;
                var tam2 = ProdCadenaM.length;

                console.log(tam2);
                for (var i = 0; i < tam2; i++) {

                    var detalle =
                    {
                        id: ProdCadenaM[i].id,
                        nombre: ProdCadenaM[i].nombre
                    }
                    ProdCadena.push(detalle);
                }


                ProdCadenaM = [];


                RellenaTablaM();
                RellenaTablaG();
            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }

        function cerrarModalError() {
            $("#Error").hide();
        }

    </script>
}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Cajas</div>

    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>

                <li class="breadcrumb-item active" aria-current="page">
                    Asignar usuarios
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="mb-0">Asignar usuarios a la caja</h4>
                </div>

                <div class="col-sm-6">
                    <a asp-page="./Index"
                       class="btn btn-outline-light btn-sm float-end me-3"
                       style="text-decoration: underline;">
                        <i class="lni lni-reply"></i>
                        Regresar
                    </a>
                </div>
            </div>
        </div>

        <hr />

        <input id="idCaja" asp-for="Cajas.id" type="hidden" />

        <div class="row g-3">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="nombreCaja" class="form-label">
                        Nombre de la caja
                    </label>

                    <div class="input-group">
                        <input id="nombreCaja"
                               type="text"
                               asp-for="Cajas.Nombre"
                               class="form-control border-start-0"
                               placeholder="Nombre"
                               readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-8">
                        <h5 class="title mb-0">
                            Usuarios disponibles
                        </h5>
                    </div>

                    <div class="col-sm-4 text-end">
                        <a onclick="PasarTodasDerecha()"
                           style="cursor:pointer; font-size:25px; line-height:0;"
                           title="Pasar todos los usuarios">
                            &gt;&gt;
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive tableFixHead"
                     style="padding:inherit; overflow:auto; z-index:5; height:290px;">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Código</th>
                                <th>Nombre</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>

                        <tbody id="tbody1"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-sm-8">
                        <h5 class="title mb-0">
                            Usuarios asignados a la caja
                        </h5>
                    </div>

                    <div class="col-sm-4 text-end">
                        <a onclick="PasarTodasIzquierda()"
                           style="cursor:pointer; font-size:25px; line-height:0;"
                           title="Quitar todos los usuarios">
                            &lt;&lt;
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive tableFixHead"
                     style="padding:inherit; overflow:auto; z-index:5; height:290px;">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Código</th>
                                <th>Nombre</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>

                        <tbody id="tbody2"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <button type="button"
                onclick="Generar()"
                class="btn btn-rounded btn-outline-success px-5">
            Guardar
        </button>
    </div>
</div>