@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@section styles {
    <style>

        .menu-divider-line {
            margin: 12px 15px;
            height: 1px;
            background: rgba(255,255,255,0.15);
            list-style: none;
        }
    </style>
}
<!--start sidebar-->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="logo-icon">
            <a asp-page="/Index">
                <img src="/img/logo.png" class="logo-img" width="150" />
            </a>

        </div>
        <div class="logo-name flex-grow-1">
            <h5 class="mb-0">ROJAS</h5>
        </div>
        @*    <div class="sidebar-close">
        <span class="material-icons-outlined">close</span>
        </div> *@
    </div>
    <div class="sidebar-nav">
        <!--navigation-->
        <ul class="metismenu" id="sidenav">
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">home</i>
                    </div>
                    <div class="menu-title">Administrativo</div>
                </a>
                <ul>
                    @if (!string.IsNullOrEmpty(Roles.Where(a => a == "1").FirstOrDefault()))
                    {


                        <li>
                            <a class="has-arrow" href="javascript:;" aria-expanded="true">
                                <i class="material-icons-outlined">fact_check</i>Bitácoras

                            </a>
                            <ul class="mm-collapse" style="">
                                <li>
                                    <a asp-page="/BitacoraErrores/Index"><i class="material-icons-outlined">bug_report</i>Bitácora Errores</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Roles.Where(a => a == "4").FirstOrDefault()))
                    {

                        <li>
                            <a class="has-arrow" href="javascript:;" aria-expanded="true">
                                <i class="material-icons-outlined">security</i>Seguridad

                            </a>
                            <ul class="mm-collapse" style="">
                                <li>
                                    <a asp-page="/Usuarios/Index"><i class="material-icons-outlined">group</i>Usuarios</a>
                            </ul>
                        </li>


                    }

                    <li>
                        <a class="has-arrow" href="javascript:;" aria-expanded="true">
                            <i class="material-icons-outlined">groups</i>Socio de Negocios

                        </a>

                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "4").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/Clientes/Index"><i class="material-icons-outlined">groups</i>Clientes</a>
                                </li>



                            </ul>
                        }
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:;" aria-expanded="true">
                            <i class="material-icons-outlined">price_change</i>Contabilidad

                        </a>

                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "8").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/CondicionesPagos/Index"><i class="material-icons-outlined">payments</i>Condiciones De Pago</a>
                                </li>



                            </ul>
                        }
                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "14").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/Impuestos/Index"><i class="material-icons-outlined">receipt_long</i>Impuestos</a>
                                </li>



                            </ul>
                        }
                             @if (!string.IsNullOrEmpty(Roles.Where(a => a == "22").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/CuentasBancarias/Index"><i class="material-icons-outlined">account_balance</i>Cuentas Bancarias</a>
                                </li>



                            </ul>
                        }
                              @if (!string.IsNullOrEmpty(Roles.Where(a => a == "27").FirstOrDefault()))
                        {
                        <ul class="mm-collapse">
                            <li>
                                <a asp-page="/CierreCajas/Index">
                                    <i class="material-icons-outlined">point_of_sale</i>
                                    <span>Cierre de Cajas</span>
                                </a>
                            </li>
                        </ul>
                        }
                   
                    </li>
                  
                        <li>
                            <a class="has-arrow" href="javascript:;" aria-expanded="true">
                            <i class="material-icons-outlined">inventory_2</i>Inventario

                            </a>
                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "16").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/Productos/Index"><i class="material-icons-outlined">inventory_2</i>Productos</a>
                                </li>



                            </ul>
                            }
                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "12").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/Categorias/Index"><i class="material-icons-outlined">category</i>Categorias</a>
                                </li>



                            </ul>
                        }
                        @if (!string.IsNullOrEmpty(Roles.Where(a => a == "10").FirstOrDefault()))
                        {
                            <ul class="mm-collapse" style="">


                                <li>
                                    <a asp-page="/Bodegas/Index"><i class="material-icons-outlined">warehouse</i>Bodegas</a>
                                </li>



                            </ul>
                        }
                        </li>









                    @if (!string.IsNullOrEmpty(Roles.Where(a => a == "24").FirstOrDefault()))
                    {


                        <li>
                            <a class="has-arrow" href="javascript:;" aria-expanded="true">
                                <i class="material-icons-outlined">location_on</i>Lugares

                            </a>
                            <ul class="mm-collapse" style="">
                                <li>
                                    <a asp-page="/Cajas/Index"><i class="material-icons-outlined">account_balance_wallet</i>Cajas</a>
                                </li>
                            </ul>
                        </li>
                    }
                 
                </ul>
            </li>
            <hr />

            @if (!string.IsNullOrEmpty(Roles.Where(a => a == "18").FirstOrDefault()))
            {
                <li>
                    <a asp-page="/Ofertas/Index">
                        <div class="parent-icon">
                            <i class="material-icons-outlined">request_quote</i>
                        </div>
                        <div class="menu-title">Cotizaciones</div>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Roles.Where(a => a == "20").FirstOrDefault()))
            {
                <li>
                    <a asp-page="/Documentos/Index">
                        <div class="parent-icon">
                            <i class="material-icons-outlined">assignment</i>
                        </div>
                        <div class="menu-title">Documentos</div>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Roles.Where(a => a == "28").FirstOrDefault()))
            {
                <li>
                    <a asp-page="/CierreCajas/Editar">
                        <div class="parent-icon">
                            <i class="material-icons-outlined">point_of_sale</i>
                        </div>
                        <div class="menu-title">Cierre Caja</div>
                    </a>
                </li>
            }
        </ul>
        <!--end navigation-->
    </div>

</aside>
<!--end sidebar-->
